<a href="https://colab.research.google.com/github/KiranJoshi25/DataVizFall2020_Colab-/blob/master/Class_activity_Lec03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

New York times database for covid 19
Case study Bristol and Suffolk, MA

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
# https://github.com/nytimes/covid-19-data repository location
db = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
## loading data into dataframe

In [ ]:
df = pd.read_csv(db)
df.head(5)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [ ]:
df.nunique()

date        235
county     1923
state        55
fips       3205
cases     16136
deaths     2393
dtype: int64

In [28]:
Bristol_fips = df['fips'].value_counts()