<a href="https://colab.research.google.com/github/KiranJoshi25/DataVizFall2020_Colab-/blob/master/Class_activity_Lec03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

New York times database for covid 19
Case study Bristol and Suffolk, MA

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
# https://github.com/nytimes/covid-19-data repository location
db = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
## loading data into dataframe

In [4]:
df = pd.read_csv(db)
df.head(5)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [5]:
df.nunique()

date        236
county     1923
state        55
fips       3205
cases     16243
deaths     2400
dtype: int64

In [12]:
Bristol_fips = df[(df['county'] == 'Bristol') &(df['state'] == 'Massachusetts')]['fips'].unique()[0].astype('int')



print("Bristol_fips {}".format(Bristol_fips))



Suffolk_fips = df[(df['county'] == 'Suffolk') &(df['state'] == 'Massachusetts')]['fips'].unique()[0].astype('int')

print("Suffolk_fips {}".format(Suffolk_fips))

Bristol_fips 25005
Suffolk_fips 25025

In [14]:
def get_county_stat(df,fips):
  Bristol_fips = df[df['fips'] == fips][['date','county','state','cases','deaths']].copy()
  Bristol_fips.set_index('date',inplace = True)
  Bristol_fips.index = pd.to_datetime(Bristol_fips.index)
  return Bristol_fips
get_county_stat(df,Bristol_fips).head()

             county          state  cases  deaths
date
2020-03-14  Bristol  Massachusetts      1       0
2020-03-15  Bristol  Massachusetts      1       0
2020-03-16  Bristol  Massachusetts      2       0
2020-03-17  Bristol  Massachusetts      5       0
2020-03-18  Bristol  Massachusetts      5       0

In [15]:
def get_county_stat(df,fips):
  Suffolk_fips = df[df['fips'] == fips][['date','county','state','cases','deaths']].copy()
  Suffolk_fips.set_index('date',inplace = True)
  Suffolk_fips.index = pd.to_datetime(Suffolk_fips.index)
  return Suffolk_fips
get_county_stat(df,Suffolk_fips).head()

             county          state  cases  deaths
date
2020-02-01  Suffolk  Massachusetts      1       0
2020-02-02  Suffolk  Massachusetts      1       0
2020-02-03  Suffolk  Massachusetts      1       0
2020-02-04  Suffolk  Massachusetts      1       0
2020-02-05  Suffolk  Massachusetts      1       0