<a href="https://colab.research.google.com/github/KiranJoshi25/DataVizFall2020_Colab-/blob/master/Python_Basics_lec02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I am Kiran Joshi

In [ ]:
print("hello World")

hello World

In [7]:
strVar = "This is string."
longestVar = """ this is multiline string
this is line one 
this is line two
this is line three
"""
Intvar = 2020
RealNumberVar = 2.203328
BoolVar = True
SimpleListObj = [strVar,Intvar,RealNumberVar,BoolVar,[1,2,3]]
SimpleTupleObj=('This',"is","Tuple","example","!")
SimpleDictionaryObj = {0:100,
                       '1':222,
                       'A200':200,
                       (1,2,3,4,5):"Value is string Key is Tuple"}
SimpleSetObj = set([1,1,2,2,3,3,4,4,5,5,6,6,7,5,8,8])

In [13]:
print(strVar)
print(Intvar)
print(RealNumberVar)
print(BoolVar)
print(SimpleListObj)
print(SimpleTupleObj)
print(SimpleDictionaryObj)
print(SimpleSetObj)

This is string.
2020
2.203328
True
['This is string.', 2020, 2.203328, True, [1, 2, 3]]
('This', 'is', 'Tuple', 'example', '!')
{0: 100, '1': 222, 'A200': 200, (1, 2, 3, 4, 5): 'Value is string Key is Tuple'}
{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
List1 =[1,2,3]
List2 =[1,2,3]
print(id(List1))
print(id(List2))

139989346613512
139989169944200

In [15]:
List1 = List2
print(id(List1))
print(id(List2))

139989169944200
139989169944200

In [17]:
A = 2 
B = 1
if(A>B):
  print("A>B")
elif(A<B):
  print("A<B")
else:
  print("A==B")

A>B

In [20]:
Loop = range(0,100,10)
for i,element in enumerate(Loop):
  print(f'element index {i} is {element}')

element index 0 is 0
element index 1 is 10
element index 2 is 20
element index 3 is 30
element index 4 is 40
element index 5 is 50
element index 6 is 60
element index 7 is 70
element index 8 is 80
element index 9 is 90

In [21]:
for element in Loop:
  print(f'element = {element}')

element = 0
element = 10
element = 20
element = 30
element = 40
element = 50
element = 60
element = 70
element = 80
element = 90

In [22]:

lst = range(0,100,10)
i = 0
element = 0
while(element<30):
  element  = lst[i]
  print(element)
  i=i+1

0
10
20
30

In [24]:
%reset -f
import pandas as pd

In [25]:
List = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31 ]

df = pd.DataFrame(List,columns = ['Prime'])


df.head(2)

   Prime
0      2
1      3

In [26]:
df['prime_power_7'] = df['Prime'] ** 7
df.head(10)

   Prime  prime_power_7
0      2            128
1      3           2187
2      5          78125
3      7         823543
4     11       19487171
5     13       62748517
6     17      410338673
7     19      893871739
8     23     3404825447
9     29    17249876309

In [27]:
df['mdlo'] = df['prime_power_7'] % 16
df.head(10)

   Prime  prime_power_7  mdlo
0      2            128     0
1      3           2187    11
2      5          78125    13
3      7         823543     7
4     11       19487171     3
5     13       62748517     5
6     17      410338673     1
7     19      893871739    11
8     23     3404825447     7
9     29    17249876309     5

In [28]:
df[df['mdlo']<8]

   Prime  prime_power_7  mdlo
0      2            128     0
3      7         823543     7
4     11       19487171     3
5     13       62748517     5
6     17      410338673     1
8     23     3404825447     7
9     29    17249876309     5